html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1365px;
  width: 100%;
  margin: 0 auto;
}

.britlex {
  margin: 0;
  margin-top: 55px;
}
.nav__list {
  display: flex;
  margin-bottom: 101px;
}
.img__nav {
  width: 104px;
  height: 43px;
  margin-left: 53px;
  padding-top: 14px;
}
.ul_nav {
  display: flex;
  gap: 10px;
  color: #263238;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-top: 16px;
}
.ul_nav li:nth-child(1) {
  padding-left: 213px;
}
.ul_nav li:nth-child(2) {
  padding-left: 27px;
}
.ul_nav li:nth-child(3) {
  padding-left: 21px;
}
.ul_nav li:nth-child(4) {
  padding-left: 47px;
}
.ul_nav li:nth-child(5) {
  padding-left: 21px;
}
.ul_nav li,
.ul_nav a {
  text-decoration: none;
  list-style: none;
  color: #263238;
}
.button__nav {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 220px;
  height: 70px;
  border-radius: 5px;
  border: 2px solid #263238;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  left: 245px;
  /* overflow: hidden; скрыть кнопку */
}

.button__nav::before {
  content: "";
  position: absolute;
  width: 220px; /* Ширина прямоугольника */
  height: 70px; /* Высота прямоугольника */
  background-color: yellow; /* Цвет прямоугольника */
  top: 50%; /* Центрируем по вертикали */
  left: 50%; /* Центрируем по горизонтали */
  transform-origin: center; /* Центр вращения */
  transform: translate(-50%, -50%); /* Смещение к центру */
  z-index: -1; /* Прямоугольник будет позади кнопки */
  visibility: hidden;
}

.button__nav:hover::before {
  visibility: visible; /* Показываем прямоугольник при наведении */
  animation: slide 2s ease-in-out infinite;
  /* Запускаем анимацию смещения и вращения */
}

@keyframes slide {
  0%,
  100% {
    transform: translate(-50%, -50%) translateX(-10px) translateY(-10px); /* Смещение вверх и влево */
  }
  50% {
    transform: translate(-50%, -50%) translateX(10px) translateY(10px); /* Смещение вправо и вниз */
  }
}

.ul_nav li:nth-child(5)::before {
  content: "";
  position: absolute;
  width: 100px; /* Ширина прямоугольника */
  height: 30px; /* Высота прямоугольника */
  background-color: yellow; /* Цвет прямоугольника */
  top: 11.5%; /* Центрируем по вертикали */
  left: 63%; /* Центрируем по горизонтали */
  transform-origin: center; /* Центр вращения */
  transform: translate(-50%, -50%); /* Смещение к центру */
  z-index: -1; /* Прямоугольник будет позади кнопки */
  visibility: hidden;
}
.ul_nav li:nth-child(5):hover::before {
  visibility: visible; /* Показываем прямоугольник при наведении */
  animation: slide2 2s ease-in-out infinite, rotate 4s linear infinite; /* Запускаем анимацию смещения и вращения */
}
.ul_nav li:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 100px; /* Ширина прямоугольника */
  height: 30px; /* Высота прямоугольника */
  background-color: yellow; /* Цвет прямоугольника */
  top: 11.5%; /* Центрируем по вертикали */
  left: 56%; /* Центрируем по горизонтали */
  transform-origin: center; /* Центр вращения */
  transform: translate(-50%, -50%); /* Смещение к центру */
  z-index: -1; /* Прямоугольник будет позади кнопки */
  visibility: hidden;
}
.ul_nav li:nth-child(4):hover::before {
  visibility: visible; /* Показываем прямоугольник при наведении */
  animation: slide 2s ease-in-out infinite, rotate 4s linear infinite; /* Запускаем анимацию смещения и вращения */
}
@keyframes slide2 {
  0%,
  100% {
    transform: translate(-50%, -50%) translateX(10px) translateY(10px); /* Смещение вверх и влево */
  }
  50% {
    transform: translate(-50%, -50%) translateX(-10px) translateY(-10px); /* Смещение вправо и вниз */
  }
}
.ul_nav li:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 100px; /* Ширина прямоугольника */
  height: 30px; /* Высота прямоугольника */
  background-color: yellow; /* Цвет прямоугольника */
  top: 11.5%; /* Центрируем по вертикали */
  left: 47%; /* Центрируем по горизонтали */
  transform-origin: center; /* Центр вращения */
  transform: translate(-50%, -50%); /* Смещение к центру */
  z-index: -1; /* Прямоугольник будет позади кнопки */
  visibility: hidden;
}
.ul_nav li:nth-child(3):hover::before {
  visibility: visible; /* Показываем прямоугольник при наведении */
  animation: slide2 2s ease-in-out infinite, rotate 4s linear infinite; /* Запускаем анимацию смещения и вращения */
}
.ul_nav li:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 100px; /* Ширина прямоугольника */
  height: 30px; /* Высота прямоугольника */
  background-color: yellow; /* Цвет прямоугольника */
  top: 11.5%; /* Центрируем по вертикали */
  left: 40%; /* Центрируем по горизонтали */
  transform-origin: center; /* Центр вращения */
  transform: translate(-50%, -50%); /* Смещение к центру */
  z-index: -1; /* Прямоугольник будет позади кнопки */
  visibility: hidden;
}
.ul_nav li:nth-child(2):hover::before {
  visibility: visible; /* Показываем прямоугольник при наведении */
  animation: slide 2s ease-in-out infinite, rotate 4s linear infinite; /* Запускаем анимацию смещения и вращения */
}
.ul_nav li:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 100px; /* Ширина прямоугольника */
  height: 30px; /* Высота прямоугольника */
  background-color: yellow; /* Цвет прямоугольника */
  top: 11.5%; /* Центрируем по вертикали */
  left: 34%; /* Центрируем по горизонтали */
  transform-origin: center; /* Центр вращения */
  transform: translate(-50%, -50%); /* Смещение к центру */
  z-index: -1; /* Прямоугольник будет позади кнопки */
  visibility: hidden;
}
.ul_nav li:nth-child(1):hover::before {
  visibility: visible; /* Показываем прямоугольник при наведении */
  animation: slide2 2s ease-in-out infinite, rotate 4s linear infinite; /* Запускаем анимацию смещения и вращения */
}
/***************************************************************** learn **************************************************************/
.learn {
  display: flex;
  margin: 0;
}
.learnSection__left {
  margin: 0;
}
.h1__learn {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  margin: 0;
  height: 240px;
  padding-left: 52px;
}
.ico__learn {
  position: relative;
  top: -149px;
  left: 475px;
  transition: filter 0.3s ease;
}
.ico__learn:hover {
  filter: brightness(0) saturate(100%) invert(82%) sepia(10%) saturate(3985%)
    hue-rotate(359deg) brightness(102%) contrast(103%);
}

.p__learn {
  color: #8f95a5;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  position: relative;
  top: -87px;
  padding-left: 48px;
}
.button__learn {
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 438px;
  height: 118px;
  border-radius: 15px;
  background-color: #202a2f;
  cursor: pointer;
  position: relative;
  margin-left: 52px;
  top: -28px;
}
.button__learn:hover {
  background-color: #1d262b;
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.1);
}
.learnSection__right {
}
.img__learn {
  position: relative;
  top: -51px;
  left: 34px;
}

/* skills  */

.skills {
  margin-top: 50px;
}
.skills.container {
  padding-left: 40px;
}
.h3-skills {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  margin-left: 78px;
}
.Grid__skills {
  display: grid;
  grid-template-columns: 435px 434px 435px;
  grid-template-rows: 531px 343px;
  gap: 18px;
  padding-left: 50px;
  padding-top: 97px;
}
.skills__item {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.skills__item.speaking {
  grid-column: 1 / 2; /* Колонка 1, ряд 1 */
  grid-row: 1 / 3; /* Занимает два ряда */
  width: 100%;
  height: 100%;
}
.skills__item.writing {
  grid-column: 2 / 3; /* Колонка 2, ряд 1 */
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}
.skills__item.reading {
  grid-column: 3 / 4; /* Колонка 2, ряд 2 */
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}
.skills__item.listening {
  grid-column: 2 / 4; /* Занимает обе колонки */
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  display: flex;
}
.listening-left {
  text-align: left;
  margin-left: 42px;
  margin-top: 43px;
}

.skills__item img {
}
.skills__item.speaking img {
  width: 390px;
  position: relative;
  top: 39px;
}
.skills__item.writing img {
  width: 293px;
  height: 293px;
  position: relative;
  top: -1px;
  left: 51px;
}
.skills__item.reading img {
  width: 371px;
  height: 247px;
  position: relative;
  top: 12px;
  left: -32px;
}
.skills__item.listening img {
  width: 386px;
  height: 264px;
  position: relative;
  top: 40px;
  left: 82px;
}

.skills__item h3 {
  color: #263238;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  margin: 0;
  text-align: left;
}
.speaking h3 {
  text-align: left;
  padding-left: 42px;
  padding-top: 37px;
}

.writing h3 {
  position: relative;
  top: -44px;
  left: 41px;
}
.reading h3 {
  padding-left: 40px;
  padding-top: 5px;
}
.listening h3 {
  padding-left: 6px;
  padding-top: 6px;
}

.skills__item p {
  color: #8f95a5;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.speaking p {
  width: 383px;
  text-align: left;
  padding-left: 42px;
  padding-top: 6px;
}
.writing p {
  width: 383px;
  text-align: left;
  position: relative;
  padding-left: 36px;
  top: -53px;
  left: 4px;
}
.reading p {
  width: 373px;
  text-align: left;
  position: relative;
  top: -14px;
  left: 43px;
}
.listening p {
  width: 345px;
  text-align: left;
  position: relative;
  top: -5px;
  left: 5px;
}
.skills__item.speaking p:nth-of-type(2) {
  padding-top: 23px;
}

.skills__item button {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border-radius: 5px;
  background-color: #263238;
  width: 230px;
  height: 60px;
}
.speaking button {
  margin-top: 35px;
  margin-right: 120px;
}
.writing button {
  position: relative;
  top: -21px;
  left: -67px;
  width: 218px;
}
.reading button {
  position: relative;
  top: 10px;
  left: 10px;
  top: 20px;
  left: -66px;
  width: 219px;
}
.listening button {
  width: 219px;
  margin-left: 1px;
  margin-top: 20px;
}
.skills__item button:hover {
  background-color: #1d262b;
  box-shadow: 0px 5px 20px 15px rgba(0, 0, 0, 0.1);
}
